<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Header Data:</p>
    <textarea name="name" rows="8" cols="80"><%= JSON.stringify(data) %></textarea>
    <p>PlayerID Data:</p>
    <textarea name="name" rows="8" cols="80"><%= JSON.stringify(playerID) %></textarea>
    <p>SessionID Data:</p>
    <textarea name="name" rows="8" cols="80"><%= JSON.stringify(sessionID) %></textarea>
  </body>
</html>
